<h2 class="text-center">JOURNAL ENTRIES: </h2>

<h2 class="text-center">Welcome back, <%= current_user.username %>!</h2>
<!-- <h3>Your current entries are as follows:</h3> -->

<div class="text-center">
<% @journal_entries.each do |journal_entry| %>
    <h2>----------------------------------------</h2>
    <h3><a href="/journal_entries/<%= journal_entry.id %>"></a></h3>
    <br>
    <p><%= journal_entry.content %></p>
<% end %>
</div>
