<head>
    <title>Add an Entry</title>
</head>

<body>

<h1>How did you sleep last night? To create a new entry, please completely fill out the form below:</h1>

<form method="post" action="/journal_entries">
    <label for="content">About last night...
    <textarea rows="8" cols="50" id="content" name="content">
    </textarea>
    </label>

    <input type="submit" id="submit" value="Publish Entry">
</form>

</body>