<head>
<title>Lucid: Sign Up</title>
</head>

<body>

<h1>Looking to create an account? Sign up here:</h1>
<br>
<br>

<form method="POST" action="/users/signup">
    <label for="username">Username: 
    <input type="text" id= "username" name="username" />
    </label>

    <label for="email">Email: 
    <input type="text" id= "email" name="email" />
    </label>

    <label for="password">Password: 
    <input type="password" id="password" name="password" />
    </label>

    <input type="submit" id="submit" value="Sign Up"></label>
</form>
<br>
<br>
<h4>Oops, I already have an account! Take me to the <a href="/login">login </a>page!</h4>

</body>