<div class="container">

<!--
  <header><img src="lauren-abrahall-142276-unsplash.jpg" class="img-responsive main-image"></header>
  <div class="col-md-8 col-md-offset-2">

  -->

    <h1 class="text-center">Lucid</h1>
    <h3 class="text-center">---------------------------------------------------------------------------------------</h3>
    <div class="content">
      <br>
      <p>Welcome to Lucid, a<em> dreamer's best friend</em>.
      <br>
      <br>
      <br>
      Exsisting users, please follow this <a href="/login">link</a> to the login page.
      <br>
      New users, please follow this <a href="/signup">link</a> to the sign up page to get started.
      </p>
    </div>

 
    <div class="sidebar">
      <h3 class="text-center">Lucid</h3>
      <p>
      LucidApp allows users to catalogue their sleep and journal about their dreams.
      <br>
      <br>
      Getting a good night's rest doesn't have to be a guessing game.
      <br>
      Trust Lucid to help you improve and understand your sleep better.
      </p>
    </div>

  
</div>


